<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Day2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>

	</welcome-file-list>
	
	<servlet>
	<servlet-name>hi</servlet-name>
	<servlet-class>com.tech.LoginPage</servlet-class>
	</servlet>
	  
	<servlet-mapping>
	<servlet-name>hi</servlet-name>
	<url-pattern>/signIn</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>hi2</servlet-name>
	<servlet-class>com.tech.CreateProfile</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>hi2</servlet-name>
<url-pattern>/created</url-pattern>	
	</servlet-mapping>
	
</web-app>